body {
    background-color: rgb(140, 215, 240);
    text-align: center;
}
h1 {
    color: rgb(32, 32, 32);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: red;
}